*{
    margin: 0;
    padding: 0;
}

.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.h-50-px{
    height: 50px;
}
.absolute{
    position: absolute;
}

.bg-l-blue{
    background-color: #e9ffeb;
}

.bg-white{
    background-color: #fff;
}
.bg-blue{
    background-color: #45813d;
}
.text-white{
    color: #fff;
}

.card{
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 0.5rem;
}
.w-50{
    width: 50%!important;
}
.p-5{
    padding: calc(5*0.5rem);
}
.pt-7{
    padding-top: calc(7*0.5rem);
}
.pt-3{
    padding-top: calc(3*0.25rem);
}

.mr-3{
    margin-right: calc(3 * 0.25rem);
}
.ml-3{
    margin-left: calc(3 * 0.25rem);
}

.mt-n-5{
    margin-top: calc(5*-0.5rem);
}


.login-input{
    width: 100%;
    height: 30px;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    margin: 0.5rem 0;
    padding: 0.25rem 0;
    text-align: center;
}

.br-tl-soft{
    border-top-left-radius: 0.5rem;
}
.br-tr-soft{
    border-top-right-radius: 0.5rem;
}
.inactive{
    background-color: #f1f1f1;
    opacity: 0.8;
    border-bottom: 1px solid #ccc;
}
/* .inactive:hover{
    background-color: #e9e9e9;
} */
hr{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.pointer{
    cursor: pointer;
}
.w-40-90{
    width: 40%;
}

@media (max-width: 500px){
    .w-40-90{
        width: 90%;
    }
}